* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Additional styling */

body {
  font-size: 18px;
  font-family: "Yellowtail", sans-serif;
  background-color: #010a01;
}

.hello {
  color: #fff;
  animation: flicker 1.5s infinite alternate;
}

h1 {
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0af,
      0 0 80px #0af, 0 0 90px #0af, 0 0 100px #0af, 0 0 150px #0af;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
